.hero__bg {
  position: relative;
  background-color: var(--color-black);
  min-height: calc(100vh-20px);
}

/* POP-UP start------------------- */

.hero__pop-up {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  display: none;
  text-align: center;
  padding: 20px;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
}

.hero-h1_pop-up {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 70px;
  font-size: 40px;
}

.hero__pop-up_shown {
  display: block;
}

.hero__pop-up-conti_header {
  display: flex;
  justify-content: space-between;
}

.hero__pop-up-conti_img {
  display: flex;
  justify-content: center;
}
.hero__pop-up-conti_img img {
  width: 400px;
  height: auto;
}

.hero__pop-up_btn {
  margin-top: 20px;
}

/* POP-UP end------------------- */
.hero-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 70px;
  font-size: 70px;
}
.hero-p {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /*   line-height: 2px; */
  font-size: 14px;
}

@media screen and (max-width: 1150px) {
  /*  .hero__bg {
    margin-top: 100px;
  } */
  .hero__img-shadow {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    margin: 100px 0 30px 0;
  }
}
@media screen and (min-width: 1150px) {
  .hero__max-width {
    width: 400px;
    height: auto;
  }

  /* .hero__pop-up {
    top: 40vh;
  } */

  .hero__pop-up-conti_img img {
    width: 500px;
    height: auto;
  }
}
@media screen and (min-width: 990px) {
  /*  .hero__max-width img {
    width: 350px;
    height: auto;
  } */

  /* .hero__pop-up {
    top: 40vh;
  } */
}
@media screen and (min-width: 650px) {
  .hero__bg {
    margin-top: 40px;
  }
}
@media screen and (max-width: 650px) {
  .hero-h1 {
    font-size: 55px;
    line-height: 60px;
  }
}
@media screen and (max-width: 450px) {
  .hero-h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .hero__pop-up-conti_img img {
    width: 280px;
    height: auto;
  }
}
