.hero__bg {
  background-color: var(--color-black);
  min-height: calc(100vh-20px);
}

.hero-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 100px;
  font-size: 80px;
}
.hero-p {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /*   line-height: 2px; */
  font-size: 14px;
}

@media screen and (max-width: 1150px) {
  /*  .hero__bg {
    margin-top: 100px;
  } */
}
@media screen and (min-width: 1150px) {
  .hero__max-width {
    max-width: 550px;
    height: auto;
  }
}
@media screen and (max-width: 650px) {
  .hero-h1 {
    font-size: 75px;
    line-height: 80px;
  }
}
@media screen and (max-width: 450px) {
  .hero-h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
