.hero__bg {
  background-color: var(--color-black);
  min-height: 100vh;
}

.hero-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}
.hero-p {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /*   line-height: 2px; */
  font-size: 14px;
}

@media screen and (max-width: 650px) {
  .hero-h1 {
    font-size: 75px;
    line-height: 80px;
  }
}
@media screen and (max-width: 450px) {
  .hero-h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
