.newsletter__bg {
  position: relative;
  background-color: var(--color-black);
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  min-height: calc(100vh + 100px);
}

.zindex  {
  z-index: 10;
}

.newsletter-loading {
  width: 200px;
}

.newsletter_benchmark {
  position: absolute;
  top: 30%;
  height: 500px;
}
