#ch {
  display: none;
}

#ch:checked ~ .matesword_longcontent {
  display: block;
}

#ch:checked ~ label {
  display: none;
}

.matesword__margin-top {
  margin-top: 60px;
}

.matesword_longcontent {
  margin: 15px 0;
  position: relative; /* Ensure relative positioning for pseudo-elements */
}
.matesword_longcontent-scroll {
  max-height: 180px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 5px 20px;
}

.matesword_longcontent::before,
.matesword_longcontent::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px; /* Adjust the width of the shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add shadow */
}

.matesword_longcontent::before {
  left: 0;
}

.matesword_longcontent::after {
  right: 0;
}

.matesword-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.matesword-content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.matesword-img_holder {
  display: flex;
  justify-content: center;
}

.matesword-content_quote img {
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}

.matesword-sign {
  width: 40%;
  margin-top: 3rem;
}
.matesword-sign img {
  max-width: 100%; /* Set the maximum width to fill the container */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
}

.matesword-content-sign p:nth-child(2) {
  border: 4px solid red;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-golden);
}

@media screen and (max-width: 2000px) {
  .matesword-sign img {
    width: 370px;
  }
}
@media screen and (max-width: 1150px) {
  .matesword-sign img {
    width: 370px;
  }
  .matesword-img_holder {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 990px) {
}
@media screen and (max-width: 650px) {
  .matesword__margin-top {
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .matesword-sign {
    width: 60%;
  }
  .matesword-sign img {
    width: 100%;
  }
}
