.navbar {
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* Horizontal offset: 0, Vertical offset: 2px, Blur radius: 4px, Spread radius: 0, Shadow color: rgba(0, 0, 0, 0.1) */
  box-shadow: 0px 2px 0px 0 rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  z-index: 100;
  height: 100px;
  position: fixed;
  top: 0px;

  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  padding: 1rem 2rem;
}

.navbar-logo-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-logo-holder img {
  width: 70px;
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar-links li {
  padding: 0.1rem 2rem;

  cursor: pointer;
  position: relative;
  color: var(--color-golden);
  border: 1px solid var(--color-black);
  transition: border-bottom 0.2s ease-in-out; /* Adjust the duration as needed */
}
.navbar-links li:hover {
  /* color: var(--color-white); */
  border-bottom: 1px solid var(--color-golden);
}
.nav-links-active {
  color: var(--color-white);
}
.navbar-links li:active {
  color: var(--color-golden-active);
  border-bottom: 1px solid var(--color-golden);
}

.navbar-smallscreen {
  width: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-smallscreen_overlay {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 550px;
  background: var(--color-black);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}
/* app_navbar-smallscreen_overlay */
/* navbar-smallscreen_overlay  */
.nav__overlay-close {
  padding: 2px;
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.nav__overlay-close:hover {
  color: var(--color-white);
}
.nav__overlay-close:active {
  color: var(--color-grey);
}
.nav__overlay-close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
.navbar-smallscreen_overlay .overlay__close:hover {
  font-size: 27px;
  color: var(--color-grey);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}

.navbar-smallscreen-links {
  list-style: none;
}
/* .navbar-smallscreen-links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);

  text-align: center;
 
}
.navbar-smallscreen-links li:hover {
  border-bottom: 1px solid var(--color-golden);
} */

.navbar-smallscreen-links li {
  padding: 0.1rem 2rem;
  margin: 2rem;
  cursor: pointer;
  position: relative;
  color: var(--color-golden);
  border: 1px solid var(--color-black);
  transition: border-bottom 0.2s ease-in-out; /* Adjust the duration as needed */
}
.navbar-smallscreen-links li:hover {
  color: var(--color-white);
  border-bottom: 1px solid var(--color-golden);
}
.navbar-smallscreen-links li:active {
  color: var(--color-golden-active);
  border-bottom: 1px solid var(--color-golden);
}

.navbar_hamburger-icon {
  cursor: pointer;
  color: var(--color-golden);
}
.navbar_hamburger-icon:hover {
  color: var(--color-white);
}
.navbar_hamburger-icon:active {
  cursor: pointer;
  color: var(--color-grey);
}

.nav__icons {
  flex: 1 1;
  text-align: center;
  margin: 1rem;
  width: 110px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.nav__icons a {
  width: 24px; /* Set the width to match the SVG icon */
  height: 24px;

  display: flex; /* Set the height to match the SVG icon */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  color: var(--color-golden);
  font-size: 15px;
}
.nav__icons a:hover {
  color: var(--color-white);
  font-size: 20px;
}
.nav__icons a:active {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.4); /* Adjust values as needed */
  font-size: 25px;
  color: var(--color-golden-active);
}

@media screen and (max-width: 2000px) {
  .navbar-logo img {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar-links {
    display: none;
  }

  .footer__icons-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1150px) {
  .navbar-smallscreen {
    display: none;
  }
}
/* .app__navbar-smallscreen {
        display: block;
      } */
@media screen and (max-width: 650px) {
  .navbar {
    padding: 1rem;
  }
  .navbar-login {
    display: none;
  }

  .footer__icons-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
