.border {
  border: 5px solid red;
}

.shop__section {
  flex-direction: column;
  padding-top: 100px; /* Adjust this value to match the height of your fixed navbar */
  min-height: calc(100vh - 100px);
  background: var(--color-black);
  position: relative;
  height: ;
}

.shop-title {
  margin-bottom: 2rem;
  text-align: center;
}
.shop-overlay {
  position: absolute;
  inset: 0;
}
/* .shop-overlay img {
    width: 400px;
    visibility: hidden
  
    z-index: 0;
  } */

.shop-menu {
  max-width: 1600px;
  margin: 2rem 0;
  display: flex;

  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.shop-menu_heading {
  font-family: var(--font-base);
  font-weight: 600px;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.shop-menu_mates,
.shop-menu_production {
  flex: 1;

  flex-direction: column;
}

.shop-menu_img {
  width: 410px;
  margin: 0 2rem;
  /* visibility: hidden; */
}

.shop-menu_img img {
  width: 100%;
  height: auto;
}

.shop-menu_items {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}

@media screen and (min-width: 2000px) {
  .shop-menu_img {
    width: 600px;
  }
  .shop-menu_img {
    height: 920px;
  }
}
@media screen and (max-width: 1150px) {
  .shop-menu_img {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 650px) {
  .shop-menu_img {
    width: 100%;
  }
  .shop_item-dash {
    display: none;
  }
  .shop_item-head {
    align-items: start;
  }
  .shop-menu_heading {
    font-size: 35px;
    line-height: 48.5px;
  }
}
