.border {
  border: 5px solid red;
}

.about__section {
  flex-direction: column;
  padding-top: 140px;
  min-height: calc(100vh - 100px);
  background: var(--color-black);
  position: relative;
}

.about-title {
  /*  margin-bottom: 2rem; */
  text-align: center;
}
.about-overlay {
  position: absolute;
  inset: 0;
}
/* .shop-overlay img {
    width: 400px;
    visibility: hidden
  
    z-index: 0;
  } */

.about-menu {
  max-width: 1600px;
  /*  margin-bottom: 2rem; */
  display: flex;

  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.about-menu_heading {
  font-family: var(--font-base);
  font-weight: 600px;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.about-menu_mates,
.about-menu_production {
  flex: 1;

  flex-direction: column;
}

.about-menu_img {
  width: 410px;
  margin: 0 2rem;
  /* visibility: hidden; */
}

.about-menu_img img {
  width: 100%;
  height: auto;
}

.about-menu_items {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;
}

@media screen and (min-width: 2000px) {
  .about-menu_img {
    width: 600px;
  }
  .about-menu_img {
    height: 920px;
  }
}
@media screen and (max-width: 1150px) {
  .about-menu_img {
    margin: 3rem 0;
  }
}
@media screen and (max-width: 650px) {
  .about-menu_img {
    width: 100%;
  }
  .about_item-dash {
    display: none;
  }
  .works_item-head {
    display: block;
  }
  .about_item-head {
    align-items: start;
  }
  .about-menu_heading {
    font-size: 35px;
    line-height: 48.5px;
  }
  .about-menu_mates,
  .about-menu_production {
    text-align: center;
  }
}
