.app__container {
  position: relative;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 280px;
  /* min-height: calc(
    100vh - 100px
  ); */ /*  */ /* Subtract navbar height from 100vh */
}

.app__pop-up-layer {
  z-index: 10;
  position: absolute;
  min-height: 100%;
  background-color: gray;
  top: 100px;
  width: 100%;

  background-color: rgba(
    181,
    151,
    151,
    0.2
  ); /* Adjust the opacity (the last value) as needed */
  backdrop-filter: blur(4px); /* Adjust the blur radius as needed */
}

.app__border {
  border: 1px solid red;
}

.app__shadow04 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.text__center {
  text-align: center;
}

.section__padding {
  padding: 1rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

.app__wrapper_img {
  flex: 1;
  /* max-width: 80%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.app__wrapper_img-reverse {
  /* justify-content: flex-start; */
  /* margin-right: 2rem; */
}

.app__golden {
  color: var(--color-golden);
}
.app__golden:hover {
  border-bottom: 1px solid var(--color-golden);
}

.custom__button {
  width: 220px;
  background-color: var(--color-black);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  color: var(--color-golden);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 20px;
  padding: 0.5rem 3rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}
.custom__button:hover {
  color: var(--color-white);
  font-size: 21px;
}
.custom__button:active {
  color: var(--color-golden-active);
  font-size: 22px;
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.4);
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 23px;
}
.p__cormorant-gold {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on;
  /* line-height: 29.9px; */
  font-size: 16px;
}
.p__cormorant-gold:hover {
  border-bottom: 1px solid var(--color-golden);
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  /* text-transform: capitalize; */
  line-height: 28px;
  font-size: 16px;
}
.p__opensans-grey {
  font-family: var(--font-alt);
  color: var(--color-grey);
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: justify;
}

.h1__cormorant {
  max-width: 500px;
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.mic__img {
  width: 50px;
}

.horizontal-align {
  border: 1px solid red;
  display: flex;
  align-items: center;
}

/* @media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
} */

@media screen and (min-width: 1151px) {
  .app__wrapper_img img {
    margin: 0rem 0 0 0;
    width: 90%;
  }
  .section__padding {
    padding: 3rem 6rem;
  }
  .app__wrapper_img {
    max-width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  /* .app__wrapper_info {
    padding-right: 0px;
  } */
  .app__wrapper {
    flex-direction: column;
  }
  .app__wrapper_info {
    padding: 0;
  }

  /* HERE COMES THE CLASSES */

  .app__reverse {
    flex-direction: column-reverse;
  }

  .app__wrapper_img-reverse {
    /*  margin: 0 0 5rem 0;  */
  }
}
/* @media screen and (max-width: 880px) {
} */

@media screen and (max-width: 850px) {
  /* .app__wrapper_img img {
    margin: 60px 0 0 0;
  } */
  .h1__cormorant {
    font-size: 45px;
    line-height: 60px;
  }
  .app__wrapper_img {
    padding: 1rem;
  }
  .app__wrapper_img img {
    /* margin: 4rem 0 0 0; */
    width: 100%;
  }
  .works_item-dash {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
  .section__padding {
    padding: 2rem;
  }
  .app__wrapper_info {
    min-width: 200px;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
    letter-spacing: 0;
  }

  .h1__cormorant {
    font-size: 36px;
    line-height: 60px;
  }

  .section__padding {
    padding: 15px;
  }
}
